@charset "utf-8";
/*
	Description: initial setting
	Version: 1.0
	Author: idealgrow
*/
/*
===== CONTENTS ===========================================
*/
.placeSelect .areaSec {
  display: none;
}

#topSearch {
  /*background-image: -moz-linear-gradient(125deg, rgb(250, 247, 238) 0%, rgb(251, 248, 245) 100%);*/
  background-image: -webkit-linear-gradient(125deg, rgb(250, 247, 238) 0%, rgb(251, 248, 245) 100%);
  /*background-image: -ms-linear-gradient(125deg, rgb(250, 247, 238) 0%, rgb(251, 248, 245) 100%);*/
  box-shadow: 0px 3px 10px 0px rgba(9, 1, 3, 0.1), -1.118px -1.658px 5px 0px rgba(230, 230, 230, 0.4);
  border-radius: 10px;
  padding: 20px;
}

.stepTit h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

.stepTit .stepNum {
  font-family: futura-pt-bold, sans-serif;
  font-size: 20px;
  color: #d4d4d4;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 10px;
}

.stepTit.bdTop {
  margin-top: 30px;
  padding-top: 30px;
  border-top: solid 1px #ece7e1;
}

.stepTit .stepNum span {
  font-size: 36px;
  color: #4f4f4f;
}

.mapRadio li {
  margin-bottom: 10px;
}

.mapRadio input[type="radio"] + label {
  background: #000;
  display: block;
  border-radius: 5px;
  color: #fff;
  padding: 15px 20px 15px 35px;
  position: relative;
}

.mapRadio input[type="radio"] + label:before {
  content: "";
  background: #fff;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.mapRadio input[type="radio"]:checked + label {
  background-image: -moz-linear-gradient(125deg, rgb(230, 131, 14) 0%, rgb(248, 182, 45) 100%);
  background-image: -webkit-linear-gradient(125deg, rgb(230, 131, 14) 0%, rgb(248, 182, 45) 100%);
  background-image: -ms-linear-gradient(125deg, rgb(230, 131, 14) 0%, rgb(248, 182, 45) 100%);
}

.areaSec {
  padding: 0 5px;
}

.btnRadio input[type="radio"] + label, .radioCheck input[type="checkbox"] + label {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  background-image: -moz-linear-gradient(125deg, rgb(255, 255, 255) 0%, rgb(245, 245, 245) 100%);
  background-image: -webkit-linear-gradient(125deg, rgb(255, 255, 255) 0%, rgb(245, 245, 245) 100%);
  background-image: -ms-linear-gradient(125deg, rgb(255, 255, 255) 0%, rgb(245, 245, 245) 100%);
  box-shadow: 0px 3px 10px 0px rgba(9, 1, 3, 0.1), -1.118px -1.658px 5px 0px rgba(230, 230, 230, 0.4);
  padding: 10px 25px 10px 45px;
  display: block;
  border-radius: 100px;
  position: relative;
  font-weight: bold;
  cursor: pointer;
}

.btnRadio input[type="radio"] + label:before, .radioCheck input[type="checkbox"] + label:before {
  content: "";
  border-radius: 50%;
  background-image: -moz-linear-gradient(125deg, rgb(255, 255, 255) 0%, rgb(245, 245, 245) 100%);
  background-image: -ms-linear-gradient(125deg, rgb(255, 255, 255) 0%, rgb(245, 245, 245) 100%);
  background-image: -webkit-linear-gradient(125deg, rgb(255, 255, 255) 0%, rgb(245, 245, 245) 100%);
  box-shadow: 0px 3px 10px 0px rgba(9, 1, 3, 0.1), -1.118px -1.658px 5px 0px rgba(230, 230, 230, 0.4);
  width: 18px;
  height: 18px;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.btnRadio input[type="radio"]:checked + label, .radioCheck input[type="checkbox"]:checked + label {
  background-image: -moz-linear-gradient(125deg, rgb(230, 131, 14) 0%, rgb(248, 182, 45) 100%);
  background-image: -ms-linear-gradient(125deg, rgb(230, 131, 14) 0%, rgb(248, 182, 45) 100%);
  background-image: -webkit-linear-gradient(125deg, rgb(230, 131, 14) 0%, rgb(248, 182, 45) 100%);
  color: #fff;
}

.btnRadio input[type="radio"]:checked + label:after, .radioCheck input[type="checkbox"]:checked + label:after {
  content: "";
  background: #e7850f;
  width: 12px;
  height: 12px;
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

.areaSec ul li {
  margin-top: 20px;
  border-top: dotted 1px #eae5df;
  padding-top: 20px;
}

.areaSec li ul {
  display: flex;
  flex-wrap: wrap;
}

.areaSec li label {
  width: 100%;
}

.areaSec li ul li {
  margin-right: 4%;
  margin-top: 15px;
  padding-top: 0;
  border-top: none;
}


.slideCont .nextSlide, .slideCont .nextBtn, .slideCont .submitNext input {
  background: #f8b62d;
  border-radius: 100px;
  text-align: center;
  padding: 10px 15px;
  font-weight: bold;
  position: relative;
  text-decoration: none;
  display: block;
  transition: all 0.2s;
  border: none;
}

.slideCont .nextDisabled {
  background: #d0d0d0;
  border-radius: 100px;
  text-align: center;
  padding: 10px 15px;
  font-weight: bold;
  position: relative;
  text-decoration: none;
  display: block;
  transition: all 0.2s;
  border: none;
  cursor: not-allowed;
}

.slideCont .submitNext {
  position: relative;
}

.slideCont .submitNext input {
  padding: 10px 40px 10px 25px !important;
}

.slideCont .nextSlide:after, .slideCont .nextBtn:after, .slideCont .submitNext:after, .slideCont .nextDisabled:after {
  content: "";
  background: url("~/static/images/icons/ico_arrow.svg") center center no-repeat;
  background-size: 100%;
  width: 10px;
  height: 12px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.slideCont .backSlide, .slideCont .backTop {
  background: #d0d0d0;
  border-radius: 100px;
  text-align: center;
  padding: 10px 15px;
  font-weight: bold;
  position: relative;
  transition: all 0.2s;
}

.slideCont .backTop {
  padding: 10px 15px 10px 40px;
}

.slideCont .backSlide:after, .slideCont .backTop:after {
  content: "";
  background: url("~/static/images/icons/ico_arrow.svg") center center no-repeat;
  background-size: 100%;
  width: 10px;
  height: 12px;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%) scale(-1, 1);
}

.calendar .calendarHead {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar .calendarHead li {
  font-size: 20px;
  font-weight: bold;
  margin: 0 10px;
}

.calendar .calendarHead li a {
  display: block;
  height: 14px;
  width: 14px;
}

.calendar .calendarHead li a.disable {
  opacity: 0.1;
}

.calendar .calendarHead li:first-of-type a {
  transform: scale(-1, 1);
}

.calendar .calendarHead li a img {
  height: 100%;
  width: auto;
}

.calendar table {
  width: 100%;
  border-collapse: collapse;
}

.calendar table thead th {
  font-weight: normal;
  padding: 10px 0;
  width: 14.28%;
}

.calendar table thead th:nth-of-type(6), .calendar table tbody td:nth-of-type(6) input[type="radio"] + label {
  color: #0863ea;
}

.calendar table thead th:nth-of-type(7), .calendar table tbody td:nth-of-type(7) input[type="radio"] + label {
  color: #ea0000;
}

.calendar table tbody td {
  padding: 10px 4px;
  width: 14.28%;
  text-align: center;
  color: #dddddd;
}

.calendar table input[type="radio"] + label {
  color: #000;
  display: flex;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-image: -moz-linear-gradient(125deg, rgb(255, 255, 255) 0%, rgb(245, 245, 245) 100%);
  background-image: -webkit-linear-gradient(125deg, rgb(255, 255, 255) 0%, rgb(245, 245, 245) 100%);
  background-image: -ms-linear-gradient(125deg, rgb(255, 255, 255) 0%, rgb(245, 245, 245) 100%);
  box-shadow: 0px 3px 10px 0px rgba(9, 1, 3, 0.1), -1.118px -1.658px 5px 0px rgba(230, 230, 230, 0.4);
  cursor: pointer;
}

.calendar table input[type="radio"]:checked + label {
  background-image: -moz-linear-gradient(125deg, rgb(230, 131, 14) 0%, rgb(248, 182, 45) 100%);
  background-image: -webkit-linear-gradient(125deg, rgb(230, 131, 14) 0%, rgb(248, 182, 45) 100%);
  background-image: -ms-linear-gradient(125deg, rgb(230, 131, 14) 0%, rgb(248, 182, 45) 100%);
  color: #fff !important;
}

.swiper-slide .column .subOption {
  border-top: dotted 1px #ece7e1;
  margin-top: 20px;
  padding-top: 20px;
}

.swiper-slide .column .subOption ul {
  padding: 0 2px;
  display: flex;
  flex-wrap: wrap;
}

.swiper-slide .column .subOption ul li {
  width: 48%;
  margin-right: 4%;
  margin-bottom: 4%;
  text-align: center;
}

.swiper-slide .column .subOption ul li:nth-of-type(even) {
  margin-right: 0;
}

.swiper-slide .column .subOption ul li:last-of-type {
  width: 100%;
  margin-right: 0;
}

.swiper-slide .sideSelect {
  padding: 0 2px;
}

ul.selectNum {
  display: flex;
  box-shadow: 0px 3px 10px 0px rgba(9, 1, 3, 0.1), -1.118px -1.658px 5px 0px rgba(230, 230, 230, 0.4);
  border: solid 1px rgb(255, 255, 255);
  border-radius: 3px;
  background: #fff;
}

ul.selectNum input {
  padding: 10px;
  text-align: center;
  background: none;
  border: none;
  font-family: futura-pt-bold, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

ul.selectNum li {
  width: 15%;
}

ul.selectNum li:nth-of-type(2) {
  width: 70%;
}

.selectNum .spinner_down {
  background: url("~/static/images/icons/ico_arrow.svg") center center no-repeat;
  background-size: 24%;
  transform: scale(-1, 1);
}

.selectNum .spinner_up {
  background: url("~/static/images/icons/ico_arrow.svg") center center no-repeat;
  background-size: 24%;
}

.swiper-slide .sideSelect .parson {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.swiper-slide .sideSelect .parson dt {
  width: 30%;
  margin-bottom: 15px;
  font-weight: bold;
}

.swiper-slide .sideSelect .parson dd {
  width: 70%;
  margin-bottom: 15px;
}

.swiper-slide .purposeList, .swiper-slide .interestList {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2px;
}

.swiper-slide .purposeList li, .swiper-slide .interestList li {
  margin-bottom: 15px;
  margin-right: 10px;
}

.swiper-slide .purposeList li label, .swiper-slide .interestList li label {
  padding: 8px 20px 8px 40px;
}

.cost .baseRadio {
  display: flex;
  padding: 0 2px;
}

.cost .baseRadio li {
  width: 50%;
  font-size: 18px;
  font-weight: bold;
}

.cost .costInput {
  display: flex;
  margin-top: 20px;
  align-items: center;
  padding: 0 2px;
}

.cost .costInput li {
  width: 25%;
  font-size: 18px;
  font-weight: bold;
}

.cost .costInput li:first-of-type {
  width: 75%;
  margin-right: 10px;
}

.cost .costInput input {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  background-image: -moz-linear-gradient(125deg, rgb(255, 255, 255) 0%, rgb(249, 249, 249) 100%);
  background-image: -webkit-linear-gradient(125deg, rgb(255, 255, 255) 0%, rgb(249, 249, 249) 100%);
  background-image: -ms-linear-gradient(125deg, rgb(255, 255, 255) 0%, rgb(249, 249, 249) 100%);
  box-shadow: 0px 3px 10px 0px rgba(9, 1, 3, 0.1), -1.118px -1.658px 5px 0px rgba(230, 230, 230, 0.4);
  font-size: 26px;
  font-weight: bold;
}

.confirmList span {
  color: #a7a7a7;
  display: block;
  margin-bottom: 5px;
}

.confirmList p {
  font-size: 20px;
  font-weight: bold;
}

.confirmList .dayPlace li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px #e6ded5;
}

.confirmList .dayPlace li:last-of-type {
  border-bottom: none;
}

.confirmList div {
  background: #fff;
  border-radius: 10px;
  padding: 15px;
}

.confirmList div li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px #e6ded5;
}

.confirmList div .parsonList li {
  border-bottom: dotted 1px #ddd;
}

.confirmList div .parsonList li:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.confirmList div .parsonList li span {
  display: inline-block;
  margin: 0 10px;
  font-size: 22px;
  color: #000;
}

.confirmList div .intList li {
  border: solid 1px #c0c0c0;
  border-radius: 100px;
  text-align: center;
  padding: 5px;
}

.confirmList div .confInfo02 > li:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.areaSelect {
  position: relative;
  padding: 0 2px;
}

.areaSelect:after {
  content: "";
  background: url("~/static/images/icons/ico_arrow.svg") center center no-repeat;
  width: 14px;
  height: 14px;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
}

.areaSelect select {
  font-size: 18px;
  font-weight: bold;
  padding-right: 24px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-radius: 3px;
  background-image: -moz-linear-gradient(125deg, rgb(255, 255, 255) 0%, rgb(249, 249, 249) 100%);
  background-image: -webkit-linear-gradient(125deg, rgb(255, 255, 255) 0%, rgb(249, 249, 249) 100%);
  background-image: -ms-linear-gradient(125deg, rgb(255, 255, 255) 0%, rgb(249, 249, 249) 100%);
  box-shadow: 0px 3px 10px 0px rgba(9, 1, 3, 0.1), -1.118px -1.658px 5px 0px rgba(230, 230, 230, 0.4);
}

@media screen and (min-width: 1159px) {
  .stepTit {
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
  }

  .stepTit h2 {
    font-size: 20px;
    margin-bottom: 0;
  }

  .stepTit .stepNum {
    margin-bottom: 0;
    margin-right: 10px;
  }

  .stepTit .stepNum span {
    font-size: 50px;
  }

  .mapRadio {
    width: 100%;
    height: 460px;
    position: relative;
    margin-bottom: 60px;
  }

  .mapRadio.toPlace {
    background: url("~/static/images/icons/top/map01.svg") center center no-repeat;
    background-size: auto 100%;
  }

  .mapRadio input[type="radio"] + label {
    text-align: center;
    padding: 5px;
    cursor: pointer;
    border: solid 2px #fff;
    box-sizing: border-box;
  }

  .mapRadio input[type="radio"] + label:before {
    display: none;
  }

  .mapRadio li {
    width: 100px;
    position: absolute;
  }

  .mapRadio li:first-of-type {
    right: 0;
    top: 55px;
  }

  .mapRadio li:nth-of-type(2) {
    right: 95px;
    top: 180px;
  }

  .mapRadio li:nth-of-type(3) {
    right: 100px;
    top: 280px;
  }

  .mapRadio li:nth-of-type(4) {
    right: 120px;
    top: 340px;
  }

  .mapRadio li:nth-of-type(5) {
    right: 35%;
    top: 200px;
  }

  .mapRadio li:nth-of-type(6) {
    right: 42%;
    top: 250px;
  }

  .mapRadio li:nth-of-type(7) {
    right: 30%;
    top: 380px;
  }

  .mapRadio li:nth-of-type(8) {
    right: 380px;
    top: 320px;
  }

  .mapRadio li:nth-of-type(9) {
    left: 180px;
    top: 260px;
  }

  .mapRadio li:nth-of-type(10) {
    left: 260px;
    top: 410px;
  }

  .mapRadio li:nth-of-type(11) {
    left: 60px;
    top: 350px;
  }

  .mapRadio li:nth-of-type(12) {
    left: 0;
    top: 420px;
  }

  .mapRadio li:nth-of-type(13) {
    width: 140px;
  }

  .mapRadio li:first-of-type input[type="radio"]:checked + label {
    background: #6289c6;
  }

  .mapRadio li:nth-of-type(2) input[type="radio"]:checked + label {
    background: #4da5dc;
  }

  .mapRadio li:nth-of-type(3) input[type="radio"]:checked + label {
    background: #56b64b;
  }

  .mapRadio li:nth-of-type(4) input[type="radio"]:checked + label {
    background: #00af97;
  }

  .mapRadio li:nth-of-type(5) input[type="radio"]:checked + label {
    background: #41bdce;
  }

  .mapRadio li:nth-of-type(6) input[type="radio"]:checked + label {
    background: #d0c245;
  }

  .mapRadio li:nth-of-type(7) input[type="radio"]:checked + label {
    background: #aacd06;
  }

  .mapRadio li:nth-of-type(8) input[type="radio"]:checked + label {
    background: #fabe00;
  }

  .mapRadio li:nth-of-type(9) input[type="radio"]:checked + label {
    background: #f18d00;
  }

  .mapRadio li:nth-of-type(10) input[type="radio"]:checked + label {
    background: #ed7986;
  }

  .mapRadio li:nth-of-type(11) input[type="radio"]:checked + label {
    background: #eb613b;
  }

  .mapRadio li:nth-of-type(12) input[type="radio"]:checked + label {
    background: #eb503b;
  }

  .mapRadio li:nth-of-type(13) input[type="radio"]:checked + label {
    background: #f8b62d;
  }

  .mapRadio.fmPlace li input[type="radio"]:checked + label {
    background: #e7850f !important;
  }

  .areaSec .areaSecIn {
    display: flex;
  }

  .areaSec .areaSecIn div {
    border-right: dotted 1px #eae5df;
    padding-right: 20px;
    margin-right: 20px;
    width: 230px;
    white-space: nowrap
  }

  .areaSec > ul {
    width: calc(100% - 230px);
  }

  .areaSec ul li {
    margin-top: 15px;
    border-top: none;
    padding-top: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: auto;
  }

  .areaSec ul li:first-of-type {
    margin-top: 0;
  }

  .areaSec li > label {
    width: 120px;
  }

  .areaSec li ul li label {
    width: auto;
    white-space: nowrap
  }

  .areaSec li ul {
    margin-left: 20px;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 160px);
    border-left: dotted 1px #eae5df;
  }

  .areaSec li ul li {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .slideCont {
    display: flex;
    justify-content: space-between;
    /* position: absolute;
    bottom: 0px; */
    width: 100%;
  }

  .slideCont li {
    width: 50%;
  }

  .slideCont li p {
    width: 140px;
    text-align: center;
  }

  .slideCont li:first-of-type {
    margin-bottom: 0;
    order: 2;
    display: flex;
    justify-content: flex-end;
  }

  .slideCont .nextSlide, .slideCont .backSlide, .slideCont .backTop {
    cursor: pointer;
  }

  .swiper-slide .column {
    display: flex;
  }

  .swiper-slide .column .calendar {
    width: 65%;
    padding-right: 2.5%;
    margin-right: 2.5%;
    position: relative;
  }

  .swiper-slide .column .calendar:after {
    content: "";
    background: #ece7e1;
    width: 1px;
    height: calc(100% - 60px);
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .calendar .calendarHead {
    margin-bottom: 10px;
  }

  .calendar .calendarHead li {
    font-size: 24px;
    font-weight: normal;
    margin: 0 15px;
  }

  .calendar .calendarHead li a {
    display: block;
    height: 16px;
    width: 16px;
  }

  .calendar table tbody td {
    font-size: 20px;
  }

  .calendar table input[type="radio"] + label {
    height: 45px;
    width: 45px;
  }

  .swiper-slide .column .subOption {
    width: 30%;
    border-top: none;
    margin-top: 0;
    padding-top: 60px;
  }

  .swiper-slide .column .subOption ul li {
    margin-bottom: 15px;
  }

  ul.selectNum.single {
    width: 300px;
  }

  .swiper-slide .sideSelect .parson dt {
    width: 10%;
    margin-bottom: 0;
  }

  .swiper-slide .sideSelect .parson dt:not(:first-of-type) {
    padding-left: 10px;
  }

  .swiper-slide .sideSelect .parson dd {
    width: 23.3%;
    margin-bottom: 0;
  }

  .swiper-slide .sideSelect .parson dd ul {
    margin-right: 25px;
  }

  .swiper-slide .sideSelect .parson dd ul.selectNum li {
    width: 25%;
  }

  .swiper-slide .sideSelect .parson dd ul.selectNum li:nth-of-type(2) {
    width: 50%;
  }

  .swiper-slide .purposeList, .swiper-slide .interestList {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2px;
  }

  .swiper-slide .purposeList li, .swiper-slide .interestList li {
    margin-bottom: 20px;
    margin-right: 15px;
  }

  .swiper-slide .purposeList li label, .swiper-slide .interestList li label {
    padding: 10px 25px 10px 45px;
  }

  .cost .baseRadio {
    width: 300px;
  }

  .cost .costInput {
    width: 400px;
    margin-top: 30px;
  }

  .slideCont .nextSlide:hover, .slideCont .nextBtn:hover {
    color: #000;
    background: #ffd377;
  }

  .slideCont .backSlide:hover, .slideCont .backTop:hover {
    background: #e8e8e8;
  }

  .confirmList .dayPlace {
    display: flex;
    margin-bottom: 20px;
  }

  .confirmList .dayPlace li {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
    width: 33%;
  }

  .confirmList div {
    padding: 20px;
    display: flex;
  }

  .confirmList div .confInfo01 {
    width: 40%;
    margin-right: 2.5%;
    padding-right: 2.5%;
    border-right: solid 1px #ddd;
  }

  .confirmList div .confInfo02 {
    width: 55%;
  }

  .confirmList div .parsonList {
    display: flex;
  }

  .confirmList div .parsonList li {
    border-bottom: none;
    width: 30%;
    padding: 0;
    margin: 0 5% 0 0;
    position: relative;
  }

  .confirmList div .parsonList li:last-of-type {
    margin-right: 0;
  }

  .confirmList div .parsonList li:after {
    content: "";
    background: #000;
    width: 1px;
    height: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .confirmList div .parsonList li:last-of-type:after {
    display: none;
  }

  .confirmList div .parsonList li span {
    margin: 0 5px;
  }

  .confirmList div .intList {
    display: flex;
    flex-wrap: wrap;
  }

  .confirmList div .intList li {
    margin: 0 10px 10px 0;
    padding: 5px 18px;
  }

  .areaSelect {
    width: 400px;
  }

  .etcInput {
    padding: 0 10px;
  }

  .etcInput textarea {
    background: #fff;
    box-sizing: border-box;
    border-radius: 3px;
    background-image: -moz-linear-gradient( 125deg, rgb(255,255,255) 0%, rgb(249,249,249) 100%);
    background-image: -webkit-linear-gradient( 125deg, rgb(255,255,255) 0%, rgb(249,249,249) 100%);
    background-image: -ms-linear-gradient( 125deg, rgb(255,255,255) 0%, rgb(249,249,249) 100%);
    box-shadow: 0px 3px 10px 0px rgb(9 1 3 / 10%), -1.118px -1.658px 5px 0px rgb(230 230 230 / 40%);
  }
}

@media screen and (min-width: 703px) {
  .slideCont {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
  }
}

@media screen and (min-width: 1159px) {
  .slideCont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}
